body {
    background-image: url(/include/images/pattern-scales.png);
    background-repeat: repeat;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    max-width: 1200px;
}

.panel {
    max-width: 1200px;
}
