#logo  {
    width:106px;
    height:129px;
}

.error  {
    background-color: #ffecea; border: solid 2px red; padding:5px;
}

img  {
   border:0;
}

a  {
    padding:0;
    margin:0;
    vertical-align: top;
    color:#cbb67d;
}

body, html  {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    color:#011e14;
}